
.to-do {
    --color: var(--status-to-do);
    --bg-color: var(--status-to-do-bg);
}

.doing {
    --color:  var(--status-doing);
    --bg-color: var(--status-doing-bg);
}

.done {
    --color: var(--status-done);
    --bg-color: var(--status-done-bg);
}

.taskList {
    display: flex;
    padding: var(--spacing-sm);
    flex-direction: column;
    gap: var(--spacing-sm);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .create-new-button {
        color: var(--surface-color-500);
        border: 1px solid var(--surface-color-300);
        display: flex;
        gap: var(--spacing-xs);
        padding: clamp(var(--spacing-xs), 2.5vw, var(--spacing-sm));
        cursor: pointer;
        user-select: none;
        border-radius:8px;
        align-items: center;
        &:hover {
            background-color: var(--surface-color-300);
        }
    }

    header {
        width: 100%;
        .title {
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            text-transform: capitalize;
            font-weight: 400;
            width: fit-content;
            padding: var(--spacing-xxs) 0;
            line-height: 0.9;
            padding-right: var(--spacing-sm);
            /*background-color: var(--bg-color);*/
            border-radius: 7px;
        }

        .title::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--color);
            margin: 0 var(--spacing-xs);
        }

    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }
}
